APP_NAME="Sistema de Pagos"
APP_ENV=production
APP_KEY=base64:BDljA8wVAMQc1DPQfUFsKLD6uG02eWOJurEWCn5OtfQ=
APP_DEBUG=false
APP_URL=https://pagos.koyositasrl.org

APP_LOCALE=es
APP_FALLBACK_LOCALE=es
APP_FAKER_LOCALE=es_ES

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=error

# Conexión PostgreSQL en Dokploy
DB_CONNECTION=pgsql
DB_HOST=postgres
DB_PORT=5432
DB_DATABASE=pagos
DB_USERNAME=alfredo
DB_PASSWORD=alfred123

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database

CACHE_STORE=database

NIXPACKS_PHP_EXTENSIONS=pdo_pgsql,pgsql,bcmath,zip,intl
